// Doc colors

$btn-primary-color: $blue-100 !default;
$link-color: $blue-000;

// Change top nav color to black

$topnav-background-color: $grey-dk-300;
$topnav-items-color: $white;


// Landing page

.lp-header {
    background-color: $grey-dk-300;
    position: absolute;
    width: 100%;

    h1 {
        //color: #61dafb;
        color: $blue-000;
    }

    h2 {
        color: $grey-lt-100;
    }
}

.lp-center {
    text-align: center;
    max-width: 800px;
    margin: auto; 
}