// Doc colors

$btn-primary-color: $blue-100 !default;
$link-color: $blue-000;

// Change top nav color to black

$topnav-background-color: $grey-dk-300;
$topnav-items-color: $white;


// Landing page

.lp-container {
    position: absolute;
    width: 100%;
}

.lp-header {
    background-color: $grey-dk-300;
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;

    h1 {
        color: $blue-000;
    }

    h2 {
        color: $grey-lt-100;
    }
}

$lp-section-height: 370px;

.lp-section {
    display: block;

    @include mq(md) {
        height: $lp-section-height;
    }
}

.lp-section-invert {
    background-color: $grey-lt-000;
}

.lp-center {
    text-align: center;
    max-width: 950px;
    margin: auto; 
}

.lp-section-container {
    display: block;
    padding: 10px;

    @include mq(md) {
        display: flex;
        height: $lp-section-height;
    }
}

.lp-col {
    text-align: left;
    margin: auto;

    @include mq(md) {
        width: 50%;
    }
}

.lp-col-left {
    @include mq(md) {
        margin-right: 30px;
        order: -1;
    }
}

.lp-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 350px;
}

.lp-footer {
    background-color: $grey-dk-300;
    padding: 48px;
}

.lp-footer-section {
    text-align: left;
    margin: auto;
    width: 100%;
    max-width: 950px;
}

.lp-footer-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    h3 {
        color: $grey-lt-100;
    }

    ul {
        padding: 0;
    }

    ul li {
        list-style-type: none;
        text-align: left;
        padding: 0;
    }

    div {
        margin-right: 1.5rem;
        flex: 1;
    }
}

.lp-footer-item {
    text-decoration: none;
}

.lp-footer-copyright {
    margin-top: 30px;
    color: $grey-lt-100;
}

.highlight pre {
    padding: 15px;
    font-size: 15px;
}

.highlight {
    border-radius: 5px;
}

code {
    font-size: inherit;
}