// Doc colors

$btn-primary-color: $blue-100 !default;
$link-color: $blue-000;

// Change top nav color to black

$topnav-background-color: $grey-dk-300;
$topnav-items-color: $white;


// Landing page

.lp-container {
    position: absolute;
    width: 100%;
}

.lp-header {
    background-color: $grey-dk-300;
    display: inline-block;
    width: 100%;
    padding-bottom: 40px;

    h1 {
        //color: #61dafb;
        color: $blue-000;
    }

    h2 {
        color: $grey-lt-100;
    }
}

.lp-section {
    display: block;
    margin: 30px;
}

.lp-center {
    text-align: center;
    max-width: 900px;
    margin: auto; 
}

.lp-section-container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lp-col {
    width: 50%;
    text-align: left;
    margin: auto;
}

.lp-col-left {
    margin-right: 30px;
}

.highlight pre {
    padding: 15px;
    font-size: 15px;
}

.highlight {
    border-radius: 5px;
}

code {
    font-size: inherit;
}