/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

:root {
  --lp-bg-color-dark1: #2b3137;
  --lp-bg-color-dark2: #21222c;
  --lp-bg-color-light1: #f5f6f7;
  --lp-bg-color-light2: #ffffff;
  --lp-hover-dark: #222;
  --lp-box-color-light: #ddd;
  --lp-hover-light: #eee;
}

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-color: var(--lp-bg-color-dark1);
  color: var(--ifm-color-white);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .heroBanner {
    padding: 0.5rem;
  }
}

.logoContainer {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: left;
}

@media only screen and (max-width: 960px) {
  .buttons {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .buttons {
    display: grid;
  }
}

.landingBtn {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-white);
  border-style: none;
}

.landingBtn:hover {
  color: var(--ifm-color-white);
  background-color: var(--ifm-color-primary-darkest);
}

html[data-theme='dark'] .landingBtn:hover {
  background-color: var(--ifm-color-primary-lightest);
}

.landingBtnHeader {
  margin-right: 20px;
}

.codeBlock {
  text-align: left;
}

@media only screen and (min-width: 961px) {
  .codeBlock {
    font-size: small;
  }
}

@media only screen and (max-width: 480px) {
  .codeBlock {
    font-size: small;
  }
}

/* Section */

.Section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  overflow-x: hidden;
}

.Section img {
  max-width: 350px;
}

@media only screen and (max-width: 960px) {
  .Section .column.last {
    max-height: 450px;
  }
}

@media only screen and (min-width: 961px) {
  .Section {
    max-height: 450px;
  }

  /* Correct for whitespace in the image of phones */
  .Section .column.left {
    margin-top: -25px;
  }
}

.Section + .Section {
  border-top: 1px solid var(--ifm-table-border-color);
}

.Section.tint {
  background-color: var(--ifm-menu-color-background-active);
}

.Section.dark {
  background-color: var(--dark);
}

.Section p a {
  @extend %link-style;
}

html[data-theme='dark'] .Section p a {
  @extend %link-style-dark;
}

.Section {
  border-bottom: none !important;
  border-top: none !important;
}

html[data-theme='dark'] .Section:nth-child(even) {
  background-color: var(--lp-bg-color-dark1);
}

html[data-theme='dark'] .Section:nth-child(odd) {
  background-color: var(--lp-bg-color-dark2);
}

html[data-theme='light'] .Section:nth-child(even) {
  background-color: var(--lp-bg-color-light1);
}

html[data-theme='light'] .Section:nth-child(odd) {
  background-color: var(--lp-bg-color-light2);
}

.Section p a {
  font-weight: bold;
}

.Section p a:hover {
  transition: 0.2s linear;
  text-decoration: none;
}

html[data-theme='light'] .Section p a:hover {
  color: var(--ifm-color-primary-darkest);
}

html[data-theme='dark'] .Section p a:hover {
  color: var(--ifm-color-primary-lightest);
}

/* Learn more link */

.LearnMoreLink {
  font-size: 1.2rem;
  font-weight: 600;
  top: 10px;
}

.LearnMoreLink svg {
  transition: 0.2s linear;
  margin-bottom: -3.5px;
}

.LearnMoreLink:hover {
  text-decoration: none;
  /* color: #531c2d; */
}

html[data-theme='light'] .LearnMoreLink:hover {
  color: var(--ifm-color-primary-darkest);
}

html[data-theme='dark'] .LearnMoreLink:hover {
  color: var(--ifm-color-primary-lightest);
}

.LearnMoreLink:hover > svg {
  margin-left: 4px;
}

/* Two columns */

.TwoColumns {
  display: grid;
}

.TwoColumns .column {
  width: 100%;
}

@media only screen and (min-width: 961px) {
  .TwoColumns {
    max-width: 940px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'first last';
  }

  .TwoColumns.reverse {
    grid-template-areas: 'last first';
  }

  .TwoColumns .column {
    max-width: 470px;
  }

  .TwoColumns .column.left {
    padding-right: 20px;
  }

  .TwoColumns .column.right {
    padding-left: 20px;
  }

  .TwoColumns .column.first {
    grid-area: first;
  }

  .TwoColumns .column.last {
    grid-area: last;
  }
}

@media only screen and (max-width: 960px) {
  .TwoColumns,
  .TwoColumns.reverse {
    grid-template-columns: 1fr;
    grid-template-areas: 'first' 'last';
  }

  .TwoColumns .column {
    padding: 0 4rem;
    margin-bottom: 1.5rem;
    max-width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .TwoColumns .column {
    padding: 0 1.25rem;
    overflow-x: scroll;
  }
}

/* Display Network */

.DisplayNetwork {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.DisplayNetwork li {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2) !important;
  margin-top: 0.84rem;
  margin-right: 0.74rem;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.DisplayNetwork li:nth-child(1) {
  padding-left: 6.25rem;
  padding-right: 1.25rem;
  background: url('/static/img/packet-engines/DPDK_logo_horizontal_mono_white.png')
    0px -16px no-repeat var(--lp-bg-color-dark1) !important;
  background-size: 6rem !important;
}

html[data-theme='light'] .DisplayNetwork li:nth-child(1) {
  background: url('/static/img/packet-engines/DPDK_logo_horizontal_mono_grey.png')
    0px -16px no-repeat var(--lp-box-color-light) !important;
  background-size: 6rem !important;
}

.DisplayNetwork li:nth-child(2) {
  padding-left: 3.5rem;
  padding-right: 1.25rem;
  background: url('/static/img/packet-engines/ebpf_mono_white.png') 10px 5px
    no-repeat var(--lp-bg-color-dark1) !important;
  background-size: 2rem !important;
}

html[data-theme='light'] .DisplayNetwork li:nth-child(2) {
  padding-left: 3.5rem;
  padding-right: 1.25rem;
  background: url('/static/img/packet-engines/ebpf_mono_grey.png') 10px 5px
    no-repeat var(--lp-box-color-light) !important;
  background-size: 2rem !important;
}

.DisplayNetwork li:nth-child(3) {
  padding-left: 8.5rem;
  padding-right: 1.25rem;
  background: url('/static/img/packet-engines/libpcap_mono_white.png') 10px 5px
    no-repeat var(--lp-bg-color-dark1) !important;
  background-size: 7rem !important;
}

html[data-theme='light'] .DisplayNetwork li:nth-child(3) {
  background: url('/static/img/packet-engines/libpcap_mono_grey.png') 10px 5px
    no-repeat var(--lp-box-color-light) !important;
  background-size: 7rem !important;
}

.DisplayNetwork li:nth-child(4) {
  padding-left: 6rem;
  padding-right: 1.25rem;
  background: url('/static/img/packet-engines/winpcap_mono_white.png') 5px 12px
    no-repeat var(--lp-bg-color-dark1) !important;
  background-size: 5rem !important;
}

html[data-theme='light'] .DisplayNetwork li:nth-child(4) {
  background: url('/static/img/packet-engines/winpcap_mono_grey.png') 5px 12px
    no-repeat var(--lp-box-color-light) !important;
  background-size: 5rem !important;
}

.DisplayNetwork li:nth-child(5) {
  padding-left: 6rem;
  padding-right: 1.25rem;
  background: url('/static/img/packet-engines/npcap_mono_white.png') 5px 12px
    no-repeat var(--lp-bg-color-dark1) !important;
  background-size: 5rem !important;
}

html[data-theme='light'] .DisplayNetwork li:nth-child(5) {
  background: url('/static/img/packet-engines/npcap_mono_grey.png') 5px 12px
    no-repeat var(--lp-box-color-light) !important;
  background-size: 5rem !important;
}

.DisplayNetwork li:nth-child(6) {
  padding-left: 3.3rem;
  padding-right: 1.25rem;
  background: url('/static/img/packet-engines/windivert_mono_white.png') 3px 0px
    no-repeat var(--lp-bg-color-dark1) !important;
  background-size: 2.5rem !important;
}

html[data-theme='light'] .DisplayNetwork li:nth-child(6) {
  background: url('/static/img/packet-engines/windivert_mono_grey.png') 3px 0px
    no-repeat var(--lp-box-color-light) !important;
  background-size: 2.5rem !important;
}

.DisplayNetwork li:nth-child(7) {
  padding-left: 3.3rem;
  padding-right: 1.25rem;
  background: url('/static/img/packet-engines/pfring_mono_white.png') 3px 0px
    no-repeat var(--lp-bg-color-dark1) !important;
  background-size: 2.5rem !important;
}

html[data-theme='light'] .DisplayNetwork li:nth-child(7) {
  background: url('/static/img/packet-engines/pfring_mono_grey.png') 3px 0px
    no-repeat var(--lp-box-color-light) !important;
  background-size: 2.5rem !important;
}

.DisplayNetwork li:hover {
  transition: 0.2s linear;
  background-color: var(--lp-hover-dark) !important;
}

html[data-theme='light'] .DisplayNetwork li:hover {
  transition: 0.5s linear;
  background-color: var(--lp-hover-light) !important;
}

/* Operating System */

.OperatingSystemContainer {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.OperatingSystem {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.OperatingSystem li {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2) !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  margin-top: 0.84rem;
  margin-right: 0.74rem;
  font-weight: bold;
  background-color: var(--lp-bg-color-dark2);
}

html[data-theme='light'] .OperatingSystem li {
  background-color: var(--lp-box-color-light) !important;
}

.OperatingSystem li:hover {
  transition: 0.2s linear;
  background-color: var(--lp-hover-dark) !important;
}

html[data-theme='light'] .OperatingSystem li:hover {
  transition: 0.5s linear;
  background-color: var(--lp-hover-light) !important;
}
